AWS_ACCESS_KEY_ID=enter_your_key
AWS_SECRET_ACCESS_KEY=enter_your_key
AWS_REGION=enter_your_key
S3_BUCKET_NAME=s3-upload-news
DYNAMODB_TABLE_NAME=enter_your_key
GEMINI_API=Aenter_your_key
AWS_BEARER_TOKEN_BEDROCK=enter_your_key
BEDROCK_INFERENCE_PROFILE_ARN_ID=enter_your_key
INFERENCE_PROFILE_ARN=enter_your_key